<h1>Edit Student</h1>

<%= render "form", student_omega: @student_omega %>

<br>

<div>
  <%= link_to "Show this student omega", @student_omega %> |
  <%= link_to "Back to student omegas", student_omegas_path %>
</div>
